

{% extends "base.html" %}

{% block title %}Waiting activation{% endblock %}

{% block body%}

<h1>Account is not active yet</h1>

<p>
    Please confirm your e-mail by clicking activation link we sent to you.
</p>
<!--
<p>
    <a href="">Resend?</a>
</p>
-->

{% endblock %}

