

.password
{
    text-align: center;
    width: 300px;
    margin: 0px auto;
    padding: 50px;
    border: 1px solid #ccc;
    box-sizing: content-box;
}

#changePassword { width: 330px;}

form {margin-top: 30px;}
li { padding: 5px 0; list-style: none;}
input[type=text],
input[type=email],
input[type=submit],
input[type=password]
{ padding: 8px 20px;border-radius: 0px; margin: 5px 0px; border: 1px solid #ccc; width: 240px;}
input:focus { border-radius: 0px; outline:none; border-color:#9ecaed; box-shadow:0 0 10px #9ecaed;}
input[type=Submit] {background-color: #ccc; color: #000; border: 1px solid #ccc;}
input[type=Submit]:hover {background-color: #000; color: #fff; transition: 0.2s;}

.btn-link { position: relative; top: 1px; text-decoration: underline; padding-right: 10px;}
.hello { position: relative; top: 1px; padding-right: 10px;}
.fa-sort-down { vertical-align: top; padding:6px;}

.messages { position: relative; top: -70px; left: 50%; margin-left: -200px; width: 400px; height: 0px; }
.messages div {position: relative; }

#checkbox {text-align: left; margin-left: 30px;}
#checkbox label { font-weight: normal; color: #666;}

button.hideShowPassword-toggle { 
    position: relative; 
    left: 189px; 
    background: #fff; 
    border: 0px solid #fff; 
    color: #000; 
    font-weight: 600; 
    font-size: 1rem;
    width: 50px;
    text-align: center;
    height: 36px;
    padding: 10px;
    border-left: 1px solid #ccc;
    top: -50px;
}

button.hideShowPassword-toggle:focus {
    border: 0px solid #fff;
    padding: 0px;
    outline:none;
    border-color:none; 
    box-shadow:0 0 0px none;
    width: 50px;
    text-align: center;
    height: 36px;
    padding: 10px;
    border-left: 1px solid #ccc;
}

label.error { height: 0px; color:brown}