{% extends "base.html" %}

{% block title %}Success!{% endblock %}

{% block body%}

<div id="loginForm" class="password">

    <h1>Success!</h1>
    <br>
    <p>
        Your password was changed.<br>You was logged in.
    </p>
    <br>

</div>

{% endblock %}

