{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block body %}

<h1>Log in</h1>

<form action="/login/authenticate" method="post">

    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" id="inputEmail" name="email" placeholder="Email address" autofocus value="{{ email }}" class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" name="password" placeholder="Password" class="form-control" />
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="remember_me" {% if remember_me %} checked="checked"{% endif %} /> Remember me
        </label>
    </div>

    <button type="submit" class="btn btn-default"> Log in </button>
    &nbsp;<a href="/password/forgot?email={{email}}">Forgot password?</a>

</form>

{% endblock %}



