{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body%}

    <h1>Posts</h1>

    <ul>
        {% for post in posts %}
        <h2>{{post.id}}: {{post.title}}</h2>
        <p>{{post.content}}</p>

        {% endfor %}
    </ul>

{% endblock %}