<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.1css">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="nav navbar-static-top container" style=" padding: 30px 15px;">
    <a class="navbar-link" href="/">Home</a> |
    <a class="navbar-link" href="/posts">Posts</a>
    <span style="float: right;">
    {% if current_user %}
        <Span class="hello"><a href="/profile" class="btn-md"><i class="fa fa-user-o" aria-hidden="true"></i> {{ current_user.email }}  </a></Span> &nbsp;
        <a href="/logout" class="btn btn-default"> Log out </i></a>
    {% else %}
        <a class="btn-link" href="/signup">Sign up</a> &nbsp;
        <a class="btn-default btn" href="/login">Login</a>
    {% endif %}

    </span>
</div>
<div class="container">
    <div class="messages">
    {% for message in flash_messages %}
        <div class="alert alert-{{message.type}} fade in">{{message.text}}</div>
    {% endfor %}
    </div>


    {% block body %}
    {% endblock %}

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script
            src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js">
    </script>

    {% block footer %}
    {% endblock %}


</div>
</body>
</html>

