{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body%}

<h1>User profile</h1>
<br>
<h3>{{user.name}}</h3>
<h4>{{user.email}}</h4>
<br>
<p>
<a class="btn btn-sm btn-primary" href="/profile/edit">edit</a>
</p>
{% for post in posts %}
{% endfor %}


{% endblock %}